@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"]</h2>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <div id="validation-errors"></div>
            <div class="form-group">
                <label for="email"></label>
                <input id="email" name="email" class="form-control" />
            </div>
            <button onclick="forgotPassword.forgotPassword()" type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/account/forgot-password.js"></script>
}
