@model SingleSignOn.ViewModels.Account.EmailViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"]</h2>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
                <div class="login-form">
                    @Html.AntiForgeryToken()

                    @Html.Label("E-mail")
                    @Html.TextBoxFor(model => Model.Email, new { @class = "form-control", @id = "forgotEmailInput" })
                </div>
            <div class="modal-footer submit-button">
                <button type="submit" @*onclick="return validateForm()"*@ class="btn blue-btn" id="sendForgotEmail">Send</button>
            </div>
        }

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
